#**Cuotas AFP Hábitat desde 2002 hasta 2024**

In [1]:
import pandas as pd

##Valores de cuota para el año 2002

In [2]:
# Especifica el rango de filas a leer
start_row = 4
end_row = 157
num_rows = end_row - start_row

# Lee el archivo CSV desde la línea 3 hasta la línea 157
Cuota_2002 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2002 = Cuota_2002.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2002.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
Cuota_2002 = Cuota_2002.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2002.columns = columnas
Cuota_2002 = Cuota_2002.drop(0)
print(Cuota_2002)

          Fecha      Cuota
1    2002-08-01  10.000,00
2    2002-08-02  10.000,00
3    2002-08-03  10.000,00
4    2002-08-04  10.000,00
5    2002-08-05  10.000,00
..          ...        ...
148  2002-12-26  10.189,40
149  2002-12-27  10.208,77
150  2002-12-28  10.208,77
151  2002-12-29  10.208,77
152  2002-12-30  10.210,26

[152 rows x 2 columns]

##Valores de cuota para año 2003

In [3]:

start_row = 162
end_row = 528
num_rows = end_row - start_row

Cuota_2003 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2003 = Cuota_2003.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2003.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
Cuota_2003 = Cuota_2003.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2003.columns = columnas
Cuota_2003 = Cuota_2003.drop(0)
print(Cuota_2003)

          Fecha      Cuota
1    2003-01-01  10.169,90
2    2003-01-02  10.209,25
3    2003-01-03  10.213,08
4    2003-01-04  10.213,08
5    2003-01-05  10.213,08
..          ...        ...
361  2003-12-27  12.871,10
362  2003-12-28  12.871,10
363  2003-12-29  12.862,98
364  2003-12-30  12.978,73
365  2003-12-31  13.008,63

[365 rows x 2 columns]

##Valores de cuota para año 2004

In [4]:
#Primera parte año 2004

start_row = 532
end_row = 593
num_rows = end_row - start_row

Cuota_2004_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2004_1 = Cuota_2004_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2004_1.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4', 'MAGISTER', 'Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA', 'Unnamed: 12', 'SUMMA BANSANDER']
Cuota_2004_1 = Cuota_2004_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2004_1.columns = columnas
Cuota_2004_1 = Cuota_2004_1.drop(0)
# print(Cuota_2004_1)

#Segunda Parte año 2004

start_row = 597
end_row = 904
num_rows = end_row - start_row

Cuota_2004_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2004_2 = Cuota_2004_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2004_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4','Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','SUMMA BANSANDER']
Cuota_2004_2 = Cuota_2004_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2004_2.columns = columnas
Cuota_2004_2 = Cuota_2004_2.drop(0)
# print(Cuota_2004_2)

Cuota_2004 = pd.concat([Cuota_2004_1, Cuota_2004_2], axis = 0)
print(Cuota_2004)

          Fecha      Cuota
1    2004-01-01  13.008,63
2    2004-01-02  12.995,38
3    2004-01-03  12.995,38
4    2004-01-04  12.995,38
5    2004-01-05  12.986,33
..          ...        ...
302  2004-12-27  14.950,43
303  2004-12-28  14.992,84
304  2004-12-29  14.963,16
305  2004-12-30  15.020,39
306  2004-12-31  15.027,96

[366 rows x 2 columns]

##Valores de cuotas para el año 2005

In [5]:
#Parte 1 año 2005

start_row = 908
end_row = 968
num_rows = end_row - start_row

Cuota_2005_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2005_1 = Cuota_2005_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2005_1.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 2"
columnas_a_eliminar = ['Fecha', 'CUPRUM', 'HABITAT', 'Unnamed: 4','Unnamed: 6', 'PLANVITAL', 'Unnamed: 8', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','SUMMA BANSANDER']
Cuota_2005_1 = Cuota_2005_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2005_1.columns = columnas
Cuota_2005_1 = Cuota_2005_1.drop(0)
# print(Cuota_2005_1)


#Parte 2 año 2005

start_row = 972
end_row = 1279
num_rows = end_row - start_row

Cuota_2005_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2005_2 = Cuota_2005_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2005_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'BANSANDER', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','Unnamed: 8']
Cuota_2005_2 = Cuota_2005_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2005_2.columns = columnas
Cuota_2005_2 = Cuota_2005_2.drop(0)
# print(Cuota_2005_2)

Cuota_2005 = pd.concat([Cuota_2005_1, Cuota_2005_2], axis = 0)
print(Cuota_2005)

          Fecha      Cuota
1    2005-01-01  15.027,96
2    2005-01-02  15.027,96
3    2005-01-03  15.039,82
4    2005-01-04  15.103,64
5    2005-01-05  15.097,95
..          ...        ...
302  2005-12-27  17.174,22
303  2005-12-28  17.177,61
304  2005-12-29  17.157,66
305  2005-12-30  17.154,79
306  2005-12-31  17.154,79

[365 rows x 2 columns]

##Valores de cuotas para el año 2006

In [6]:
start_row = 1283
end_row = 1649
num_rows = end_row - start_row

Cuota_2006 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2006 = Cuota_2006.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2006.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'BANSANDER', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','Unnamed: 8']
Cuota_2006 = Cuota_2006.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2006.columns = columnas
Cuota_2006 = Cuota_2006.drop(0)
print(Cuota_2006)

          Fecha      Cuota
1    2006-01-01  17.154,79
2    2006-01-02  17.210,29
3    2006-01-03  17.210,78
4    2006-01-04  17.262,93
5    2006-01-05  17.459,31
..          ...        ...
361  2006-12-27  21.200,29
362  2006-12-28  21.252,07
363  2006-12-29  21.366,32
364  2006-12-30  21.366,32
365  2006-12-31  21.366,32

[365 rows x 2 columns]

##Valores de cuotas para el año 2007

In [7]:
start_row = 1653
end_row = 2019
num_rows = end_row - start_row

Cuota_2007 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2007 = Cuota_2007.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2007.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'BANSANDER', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','Unnamed: 8']
Cuota_2007 = Cuota_2007.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2007.columns = columnas
Cuota_2007 = Cuota_2007.drop(0)
print(Cuota_2007)

          Fecha      Cuota
1    2007-01-01  21.366,32
2    2007-01-02  21.403,23
3    2007-01-03  21.477,93
4    2007-01-04  21.559,69
5    2007-01-05  21.592,21
..          ...        ...
361  2007-12-27  25.046,81
362  2007-12-28  25.203,60
363  2007-12-29  25.203,60
364  2007-12-30  25.203,60
365  2007-12-31  25.210,86

[365 rows x 2 columns]

##Valores de cuotas para el año 2008

In [8]:
#Parte 1 año 2008

start_row = 2023
end_row = 2115
num_rows = end_row - start_row

Cuota_2008_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2008_1 = Cuota_2008_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2008_1.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'BANSANDER', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA', 'Unnamed: 10', 'SANTA MARIA','Unnamed: 8']
Cuota_2008_1 = Cuota_2008_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2008_1.columns = columnas
Cuota_2008_1 = Cuota_2008_1.drop(0)
# print(Cuota_2008_1)

#Parte 2 del año 2008

start_row = 2119
end_row = 2395
num_rows = end_row - start_row

Cuota_2008_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2008_2 = Cuota_2008_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2008_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA','Unnamed: 8']
Cuota_2008_2 = Cuota_2008_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2008_2.columns = columnas
Cuota_2008_2 = Cuota_2008_2.drop(0)
# print(Cuota_2008_2)

Cuota_2008 = pd.concat([Cuota_2008_1, Cuota_2008_2], axis = 0)
print(Cuota_2008)

          Fecha      Cuota
1    2008-01-01  25.210,86
2    2008-01-02  25.241,78
3    2008-01-03  25.211,47
4    2008-01-04  25.004,55
5    2008-01-05  25.004,55
..          ...        ...
271  2008-12-27  16.329,09
272  2008-12-28  16.329,09
273  2008-12-29  16.374,77
274  2008-12-30  16.440,64
275  2008-12-31  16.562,12

[366 rows x 2 columns]

##Valores de cuotas para el año 2009

In [9]:
start_row = 2399
end_row = 2765
num_rows = end_row - start_row

Cuota_2009 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2009 = Cuota_2009.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2009.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA','Unnamed: 8']
Cuota_2009 = Cuota_2009.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2009.columns = columnas
Cuota_2009 = Cuota_2009.drop(0)
print(Cuota_2009)

          Fecha      Cuota
1    2009-01-01  16.562,12
2    2009-01-02  16.659,75
3    2009-01-03  16.659,75
4    2009-01-04  16.659,75
5    2009-01-05  16.880,77
..          ...        ...
361  2009-12-27  23.200,73
362  2009-12-28  23.252,64
363  2009-12-29  23.368,67
364  2009-12-30  23.426,72
365  2009-12-31  23.467,49

[365 rows x 2 columns]

##Valores de cuotas para el año 2010

In [10]:
#Parte 1 año 2010

start_row = 2769
end_row = 3013
num_rows = end_row - start_row

Cuota_2010_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2010_1 = Cuota_2010_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2010_1.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'PLANVITAL', 'PROVIDA','Unnamed: 8']
Cuota_2010_1 = Cuota_2010_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2010_1.columns = columnas
Cuota_2010_1 = Cuota_2010_1.drop(0)
# print(Cuota_2010_1)

#Parte 2 año 2010

start_row = 3017
end_row = 3140
num_rows = end_row - start_row

Cuota_2010_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2010_2 = Cuota_2010_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2010_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2010_2 = Cuota_2010_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2010_2.columns = columnas
Cuota_2010_2 = Cuota_2010_2.drop(0)
# print(Cuota_2010_2)

Cuota_2010 = pd.concat([Cuota_2010_1, Cuota_2010_2], axis = 0)
print(Cuota_2010)

          Fecha      Cuota
1    2010-01-01  23.467,49
2    2010-01-02  23.467,49
3    2010-01-03  23.467,49
4    2010-01-04  23.495,44
5    2010-01-05  23.790,69
..          ...        ...
118  2010-12-27  26.815,11
119  2010-12-28  26.818,31
120  2010-12-29  26.751,39
121  2010-12-30  26.900,75
122  2010-12-31  27.023,61

[365 rows x 2 columns]

##Valores de cuotas para el año 2011

In [11]:
start_row = 3144
end_row = 3510
num_rows = end_row - start_row

Cuota_2011 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2011 = Cuota_2011.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2011.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2011 = Cuota_2011.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2011.columns = columnas
Cuota_2011 = Cuota_2011.drop(0)
print(Cuota_2011)

          Fecha      Cuota
1    2011-01-01  27.023,61
2    2011-01-02  27.023,61
3    2011-01-03  27.059,61
4    2011-01-04  27.205,54
5    2011-01-05  27.846,48
..          ...        ...
361  2011-12-27  25.210,18
362  2011-12-28  25.206,91
363  2011-12-29  24.992,22
364  2011-12-30  25.085,71
365  2011-12-31  25.085,71

[365 rows x 2 columns]

##Valores de cuotas para el año 2012

In [12]:
start_row = 3514
end_row = 3881
num_rows = end_row - start_row

Cuota_2012 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2012 = Cuota_2012.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2012.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2012 = Cuota_2012.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2012.columns = columnas
Cuota_2012 = Cuota_2012.drop(0)
print(Cuota_2012)

          Fecha      Cuota
1    2012-01-01  25.085,71
2    2012-01-02  25.067,89
3    2012-01-03  25.068,09
4    2012-01-04  25.289,68
5    2012-01-05  25.295,10
..          ...        ...
362  2012-12-27  27.248,95
363  2012-12-28  27.314,70
364  2012-12-29  27.314,70
365  2012-12-30  27.314,70
366  2012-12-31  27.282,45

[366 rows x 2 columns]

##Valores de cuotas para el año 2013

In [13]:
start_row = 3885
end_row = 4251
num_rows = end_row - start_row

Cuota_2013 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2013 = Cuota_2013.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2013.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2013 = Cuota_2013.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2013.columns = columnas
Cuota_2013 = Cuota_2013.drop(0)
print(Cuota_2013)

          Fecha      Cuota
1    2013-01-01  27.282,45
2    2013-01-02  27.469,80
3    2013-01-03  27.699,09
4    2013-01-04  27.717,09
5    2013-01-05  27.717,09
..          ...        ...
361  2013-12-27  29.699,99
362  2013-12-28  29.699,99
363  2013-12-29  29.699,99
364  2013-12-30  29.730,10
365  2013-12-31  29.798,30

[365 rows x 2 columns]

##Valores de cuotas para el año 2014

In [14]:
start_row = 4255
end_row = 4621
num_rows = end_row - start_row

Cuota_2014 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2014 = Cuota_2014.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2014.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2014 = Cuota_2014.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2014.columns = columnas
Cuota_2014 = Cuota_2014.drop(0)
print(Cuota_2014)

          Fecha      Cuota
1    2014-01-01  29.798,30
2    2014-01-02  29.898,70
3    2014-01-03  29.873,73
4    2014-01-04  29.873,73
5    2014-01-05  29.873,73
..          ...        ...
361  2014-12-27  34.227,99
362  2014-12-28  34.227,99
363  2014-12-29  34.249,36
364  2014-12-30  34.324,07
365  2014-12-31  34.256,69

[365 rows x 2 columns]

##Valores de cuotas para el año 2015

In [15]:
start_row = 4625
end_row = 4991
num_rows = end_row - start_row

Cuota_2015 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2015 = Cuota_2015.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2015.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2015 = Cuota_2015.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2015.columns = columnas
Cuota_2015 = Cuota_2015.drop(0)
print(Cuota_2015)

          Fecha      Cuota
1    2015-01-01  34.256,69
2    2015-01-02  34.206,70
3    2015-01-03  34.206,70
4    2015-01-04  34.206,70
5    2015-01-05  34.410,87
..          ...        ...
361  2015-12-27  36.652,17
362  2015-12-28  36.815,73
363  2015-12-29  36.908,96
364  2015-12-30  37.179,18
365  2015-12-31  37.091,74

[365 rows x 2 columns]

##Valores de cuota para el año 2016

In [16]:
#Hay un día extra porque es año bisiesto

start_row = 4995
end_row = 5362
num_rows = end_row - start_row

Cuota_2016 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2016 = Cuota_2016.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2016.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2016 = Cuota_2016.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2016.columns = columnas
Cuota_2016 = Cuota_2016.drop(0)
print(Cuota_2016)

          Fecha      Cuota
1    2016-01-01  37.091,74
2    2016-01-02  37.091,74
3    2016-01-03  37.091,74
4    2016-01-04  37.088,98
5    2016-01-05  36.766,69
..          ...        ...
362  2016-12-27  38.044,65
363  2016-12-28  38.131,58
364  2016-12-29  38.149,02
365  2016-12-30  38.043,31
366  2016-12-31  38.043,31

[366 rows x 2 columns]

##Valores de cuotas para el año 2017

In [17]:
start_row = 5366
end_row = 5732
num_rows = end_row - start_row

Cuota_2017 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2017 = Cuota_2017.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2017.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2017 = Cuota_2017.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2017.columns = columnas
Cuota_2017 = Cuota_2017.drop(0)
print(Cuota_2017)

          Fecha      Cuota
1    2017-01-01  38.043,31
2    2017-01-02  38.043,31
3    2017-01-03  38.218,64
4    2017-01-04  38.473,57
5    2017-01-05  38.582,46
..          ...        ...
361  2017-12-27  44.787,20
362  2017-12-28  44.675,13
363  2017-12-29  44.790,45
364  2017-12-30  44.790,45
365  2017-12-31  44.790,45

[365 rows x 2 columns]

##Valores de cuotas para el año 2018

In [18]:
start_row = 5736
end_row = 6102
num_rows = end_row - start_row

Cuota_2018 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2018 = Cuota_2018.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2018.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2018 = Cuota_2018.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2018.columns = columnas
Cuota_2018 = Cuota_2018.drop(0)
print(Cuota_2018)

          Fecha      Cuota
1    2018-01-01  44.790,45
2    2018-01-02  44.839,67
3    2018-01-03  44.850,09
4    2018-01-04  44.838,63
5    2018-01-05  45.085,63
..          ...        ...
361  2018-12-27  43.016,91
362  2018-12-28  43.252,36
363  2018-12-29  43.252,36
364  2018-12-30  43.252,36
365  2018-12-31  43.503,13

[365 rows x 2 columns]

##Valores de cuotas para el año 2019

In [19]:
#Parte 1 año 2019

start_row = 6106
end_row = 6380
num_rows = end_row - start_row

Cuota_2019_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2019_1 = Cuota_2019_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2019_1.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10']
Cuota_2019_1 = Cuota_2019_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2019_1.columns = columnas
Cuota_2019_1 = Cuota_2019_1.drop(0)
# print(Cuota_2019_1)

#Parte 2 año 2019

start_row = 6384
end_row = 6477
num_rows = end_row - start_row

Cuota_2019_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2019_2 = Cuota_2019_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2019_2.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2019_2 = Cuota_2019_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2019_2.columns = columnas
Cuota_2019_2 = Cuota_2019_2.drop(0)
# print(Cuota_2019_2)

Cuota_2019 = pd.concat([Cuota_2019_1, Cuota_2019_2], axis = 0)
print(Cuota_2019)

         Fecha      Cuota
1   2019-01-01  43.503,13
2   2019-01-02  43.585,14
3   2019-01-03  43.654,15
4   2019-01-04  43.519,33
5   2019-01-05  43.519,33
..         ...        ...
88  2019-12-27  52.115,17
89  2019-12-28  52.115,17
90  2019-12-29  52.115,17
91  2019-12-30  52.171,78
92  2019-12-31  52.141,66

[365 rows x 2 columns]

##Valores de cuotas para el año 2020

In [20]:
start_row = 6481
end_row = 6848
num_rows = end_row - start_row

Cuota_2020 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2020 = Cuota_2020.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2020.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2020 = Cuota_2020.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2020.columns = columnas
Cuota_2020 = Cuota_2020.drop(0)
print(Cuota_2020)

          Fecha      Cuota
1    2020-01-01  52.141,66
2    2020-01-02  52.349,68
3    2020-01-03  53.190,38
4    2020-01-04  53.190,38
5    2020-01-05  53.190,38
..          ...        ...
362  2020-12-27  54.039,15
363  2020-12-28  53.730,64
364  2020-12-29  53.951,95
365  2020-12-30  54.260,43
366  2020-12-31  54.549,80

[366 rows x 2 columns]

##Valores de cuotas para el año 2021

In [21]:
start_row = 6852
end_row = 7218
num_rows = end_row - start_row

Cuota_2021 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2021 = Cuota_2021.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2021.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2021 = Cuota_2021.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2021.columns = columnas
Cuota_2021 = Cuota_2021.drop(0)
print(Cuota_2021)

          Fecha      Cuota
1    2021-01-01  54.549,80
2    2021-01-02  54.549,80
3    2021-01-03  54.549,80
4    2021-01-04  54.739,13
5    2021-01-05  54.572,20
..          ...        ...
361  2021-12-27  66.073,68
362  2021-12-28  66.074,83
363  2021-12-29  66.039,98
364  2021-12-30  65.588,76
365  2021-12-31  65.673,90

[365 rows x 2 columns]

##Valores de cuotas para el año 2022

In [22]:
start_row = 7222
end_row = 7588
num_rows = end_row - start_row

Cuota_2022 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2022 = Cuota_2022.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2022.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2022 = Cuota_2022.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2022.columns = columnas
Cuota_2022 = Cuota_2022.drop(0)
print(Cuota_2022)

          Fecha      Cuota
1    2022-01-01  65.673,90
2    2022-01-02  65.673,90
3    2022-01-03  65.460,01
4    2022-01-04  65.948,43
5    2022-01-05  65.954,70
..          ...        ...
361  2022-12-27  59.763,81
362  2022-12-28  59.560,70
363  2022-12-29  58.444,35
364  2022-12-30  58.888,59
365  2022-12-31  58.888,59

[365 rows x 2 columns]

##Valores de cuotas para el año 2023

In [23]:
start_row = 7592
end_row = 7958
num_rows = end_row - start_row

Cuota_2023 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2023 = Cuota_2023.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2023.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2023 = Cuota_2023.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2023.columns = columnas
Cuota_2023 = Cuota_2023.drop(0)
print(Cuota_2023)

          Fecha      Cuota
1    2023-01-01  58.888,59
2    2023-01-02  58.888,59
3    2023-01-03  58.655,36
4    2023-01-04  58.383,78
5    2023-01-05  58.816,99
..          ...        ...
361  2023-12-27  66.286,30
362  2023-12-28  66.042,93
363  2023-12-29  66.254,19
364  2023-12-30  66.254,19
365  2023-12-31  66.254,19

[365 rows x 2 columns]

##Valores de cuota del año 2024 hasta el mes de febrero

In [24]:
#Año 2024 meses de enero y febrero

start_row = 7962
end_row = 8023
num_rows = end_row - start_row

Cuota_2024_1 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2024_1 = Cuota_2024_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2024.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2024_1 = Cuota_2024_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2024_1.columns = columnas
Cuota_2024_1 = Cuota_2024_1.drop(0)
# print(Cuota_2024_1.head(5))

start_row = 8027
end_row = 8053
num_rows = end_row - start_row

Cuota_2024_2 = pd.read_csv('vcfA2002-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2024_2 = Cuota_2024_2.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2024.columns)             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'CAPITAL', 'Unnamed: 2', 'CUPRUM','HABITAT', 'Unnamed: 6', 'MODELO', 'PLANVITAL', 'PROVIDA','Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'UNO']
Cuota_2024_2 = Cuota_2024_2.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2024_2.columns = columnas
Cuota_2024_2 = Cuota_2024_2.drop(0)
# print(Cuota_2024_2.tail(5))

Cuota_2024 = pd.concat([Cuota_2024_1, Cuota_2024_2], axis = 0)
print(Cuota_2024)

         Fecha      Cuota
1   2024-01-01  66.254,19
2   2024-01-02  65.773,73
3   2024-01-03  65.457,75
4   2024-01-04  65.207,68
5   2024-01-05  64.858,96
..         ...        ...
21  2024-03-21  73.044,05
22  2024-03-22  73.151,97
23  2024-03-23  73.151,97
24  2024-03-24  73.151,97
25  2024-03-25  73.446,81

[85 rows x 2 columns]

##Concatenación de la información

In [45]:
import csv

valor_cuota1 = pd.concat([Cuota_2002, Cuota_2003, Cuota_2004, Cuota_2005, Cuota_2006, Cuota_2007, Cuota_2008, Cuota_2009, Cuota_2010, Cuota_2011, Cuota_2012, Cuota_2013], axis = 0)
valor_cuota2 = pd.concat([Cuota_2014, Cuota_2015, Cuota_2016, Cuota_2017, Cuota_2018, Cuota_2019, Cuota_2020, Cuota_2021, Cuota_2022, Cuota_2023, Cuota_2024], axis = 0)
valor_cuota = pd.concat([valor_cuota1, valor_cuota2], axis = 0)
valor_cuota = valor_cuota.reset_index()                   #Reinica el índice
valor_cuota = valor_cuota.drop(['index'], axis = 1)       #Elimina el antiguo índice
valor_cuota['Cuota'] = valor_cuota['Cuota'].str.replace(r',\d+', '', regex=True)          #Reemplaza la coma y los valores que están después de la coma
valor_cuota['Cuota'] = valor_cuota['Cuota'].str.replace('.','')                                        #Elimina el punto como separador de miles 
print(valor_cuota)

           Fecha  Cuota
0     2002-08-01  10000
1     2002-08-02  10000
2     2002-08-03  10000
3     2002-08-04  10000
4     2002-08-05  10000
...          ...    ...
7902  2024-03-21  73044
7903  2024-03-22  73151
7904  2024-03-23  73151
7905  2024-03-24  73151
7906  2024-03-25  73446

[7907 rows x 2 columns]

In [44]:
valor_cuota['Open'] =  valor_cuota['Close']  = valor_cuota['Cuota'][0]

# Actualizar los valores de las columnas según la lógica descrita
for i in range(1, len(valor_cuota)):
    valor_cuota.loc[i, 'Open'] = valor_cuota.loc[i - 1, 'Close']
    valor_cuota.loc[i, 'Close'] = valor_cuota.loc[i, 'Cuota']

valor_cuota['High'] = valor_cuota.apply(lambda row: max(row['Open'], row['Close']), axis=1)
valor_cuota['Low'] = valor_cuota.apply(lambda row: min(row['Open'], row['Close']), axis=1)
valor_cuota = valor_cuota.drop(columns = {'Cuota'})                                           #Elimina la columna Cuota
valor_cuota['Volume'] = 0
orden_columnas = ['Fecha','Open', 'High', 'Low', 'Close', 'Volume']
valor_cuota = valor_cuota[orden_columnas]

valor_cuota.to_csv('Habitat-A.csv', index = False, header = False, quoting=csv.QUOTE_MINIMAL, sep = ",")

           Fecha   Open   High    Low  Close  Volume
0     2002-08-01  10000  10000  10000  10000       0
1     2002-08-02  10000  10000  10000  10000       0
2     2002-08-03  10000  10000  10000  10000       0
3     2002-08-04  10000  10000  10000  10000       0
4     2002-08-05  10000  10000  10000  10000       0
...          ...    ...    ...    ...    ...     ...
7902  2024-03-21  71806  73044  71806  73044       0
7903  2024-03-22  73044  73151  73044  73151       0
7904  2024-03-23  73151  73151  73151  73151       0
7905  2024-03-24  73151  73151  73151  73151       0
7906  2024-03-25  73151  73446  73151  73446       0

[7907 rows x 6 columns]